
.label {
-fx-fill: FIREBRICK;
  -fx-font-weight: bold;
  -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}

.button {
    -fx-background-color: grey;
    -fx-font-size: 12pt;
    -fx-text-fill: white;
    -fx-background-radius: 10px;
}

.button:hover{
    -fx-background-color: lightgrey;
    -fx-font-size: 12pt;
}

.button:hover{
    -fx-text-fill: whitesmoke;
}

.text-field{
    -fx-background-color: #75a4e1;
    -fx-text-fill: #eff9f2;
    -fx-font-size: 16pt;
}
#textFieldPrev{
    -fx-background-color: #75a4e1;
    -fx-text-fill: #eff9f2;
    -fx-font-size: 12pt;
}

.check-box {
   /*-fx-text-fill:linear-gradient(#61a2b1, #2A5058);*/
    /*-fx-font-weight: bold;*/
}
.check-box .box {
    -fx-background-color: white;
    -fx-border-color:grey;
    -fx-border-radius:5px;
}
.check-box:selected .mark {
   /* -fx-background-color: black;*/
    -fx-scale-x: 2;
    -fx-scale-y: 2;
    -fx-translate-x: 3px;
    -fx-translate-y: -3px;
}
.check-box:selected .box {
    -fx-background-color: #28a3f4;
}


.root{
    -fx-background-color: #c0d4f9;
}

.table-view{
   -fx-background-color: transparent;
}

.table-view:focused{
    -fx-background-color: transparent;
}

/* Spaltenköpfe
    Struktur column-header-background -> column-header */

.table-view .column-header-background{
    -fx-background-color: linear-gradient(#131313 0%, #424141 100%);
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-text-fill: white;
}

.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, #616161;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color, #424242;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:selected {
    -fx-background-color: #005797;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background,
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
}



.table-view > .virtual-flow > .scroll-bar > .increment-button,
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-opacity: 0;
}

